 <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          
          <h3>Todo sobre <span>Cleaning.com</span></h3>
          <p>Tenemos filtros de selección estrictos, por ende todos nuestros servicios cuentan con garantia de calidad, cumplimiento y seguro contra daños</p>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
              personal capacitado en todo lo referente a desinfección y cuidado del hogar
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Contamos con la opción de personal calificado para el cuidado de niños.</li>
              <li><i class="ri-check-double-line"></i> Competentes en el cuidado y asistencia al adulto mayor.</li>
              <li><i class="ri-check-double-line"></i> Desinfección y limpieza especial para hogares con mascota.</li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              Reserva o reprograma tus limpiezas desde tu celular. paga rápido y seguro.
              Revisa el perfil de tu empleada de servicios domésticos y califica el servicio prestado.
            </p>
            
          </div>
        </div>

      </div>
    </section>