<section id="faq" class="faq">
      <div class="container">

        <div class="section-title">
          
          <h3>preguntas frecuentes <span>Cleaning.com</span></h3>
        </div>

        <ul class="faq-list">

          <li>
            <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">¿Que incluye el servicio? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq1" class="collapse" data-bs-parent=".faq-list">
              <p>
                Limpieza y desinfección de cocina, electrodomesticos, baños, alcoba y demás superficies del hogar o empresa.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">¿certificadas para cuidar niños? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq2" class="collapse" data-bs-parent=".faq-list">
              <p>
                si, nuestras empleadas domésticas internas poseen capacitación actualizada para ejercer cuidado integral a la primera infancia.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">¿cómo es el tema para cuidar adulto mayor? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq3" class="collapse" data-bs-parent=".faq-list">
              <p>
                Depende de la necesidad del adulto mayor, si tiene reducción de la movilidad, si necesita acompañamiento 24/7 entre otras necesidades, nos encargamos de cuidarlo, para que la calidad de vida del nucleo familiar, no se vea afectada.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">¿Que otras tareas realizan? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq4" class="collapse" data-bs-parent=".faq-list">
              <p>
                Organización de tareas y cumplimiento de recados, así como de otras diligencias que puedan surgir: recoger niños del colegio, realizar mercado y mucho más.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">¿lavan y planchan ropa? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq5" class="collapse" data-bs-parent=".faq-list">
              <p>
                si, siempre y cuando alcance dentro del tiempo concertado.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq6" class="collapsed question">¿puedo cambiar, cuando quiera o requiera, la empleada doméstica? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq6" class="collapse" data-bs-parent=".faq-list">
              <p>
                si, al momento de elegir el perfil de la empleada que desea contratar, y esta elección, no queda como imposición, para el proximo agendamiento de trabajo, a no ser que el cliente lo requira.
              </p>
            </div>
          </li>

        </ul>

      </div>
    </section>