 <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Cleaning.com</h3>
            <p>
              Centro Empresarial Dorado <br>
              Bogotá. Distrito Capital<br>
              Colombia <br><br>
              <strong>celular:</strong> 3217468394<br>
              <strong>Email:</strong> emprendiendoconcleaning@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Enlaces Utiles</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Inicio</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Quienes somos</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Registrate</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Perfiles de empleadas</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Politica de terminos y condiciones</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Nuestros Servicios</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#"></a>Empleadas por horas, dias e internas.</li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Limpiar mi Empresa</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Limpiar mi casa</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Cuidado de niños</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Cuidado del adulto mayor</a></li>
            </ul>
          </div>

          
  
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>Cleaning.com</span></strong>. Todos los Derechos Reservados
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/tempo-free-onepage-bootstrap-theme/ -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="https://www.tiktok.com/@cleaning782" target="_blank" class="tiktok"><i class="bx bxl-tiktok"></i></a>
        <a href="https://www.facebook.com/profile.php?id=61551432163079&sk=about_contact_and_basic_info" target="_blank" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="https://www.instagram.com/cleaningltda" target="_blank" class="instagram"><i class="bx bxl-instagram"></i></a>
        
      </div>
    </div>
  </footer>